
{% block content %}
<div class="container">

<div class="row">
<div class="col-xs-12 text-center">
<h1>Welcome to Env.io - Explore the state of <strong><a href="#" class="selected-impact">waste</a> in <strong><a href="#" class="selected-city">Vancouver</a><strong></h1>
</div>
</div>

  <div class="row">
    {% include 'map.html' %}
    {% include 'sunburst.html' %}
  </div>

  <div class="data-upload">
    <h3>Upload your latest waste assessment</h3>
    <form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
        Upload File:
        <input type="file" name="file"> <br>
        <input type="submit" name="submit" value="Submit">
    </form>
  </div>


<!--
  <form action="/sign?team_name={{ team_name }}" method="post">
    <div><textarea name="content" class="input-block-level" rows="3"></textarea></div>
    <div><input type="submit" class="btn btn-large btn-primary" value="Save"></div>
  </form>

  <hr>

  <form>Audit Form:

    <input type="submit" value="switch">
  </form>-->

  <!--<a href="{{ url|safe }}">{{ url_linktext }}</a>-->
</div>
{% endblock %}
