
{% block content %}
<div class="container">

<div class="row">
<div class="col-xs-12 text-center">
{% if user %}
<h1>Exploring <span class="text-green">{{user.team}}</span> as <span class="text-green">{{user.name}}</span>. </h1>
{% else %}
<h1>Welcome to Env.io - Explore the state of <strong><a href="#" class="selected-impact">waste</a> in <strong><a href="#" class="selected-city">Vancouver</a><strong></h1>
{% endif %}


</div>
</div>

  <div class="row">
    {% include 'map.html' %}
    {% include 'sunburst.html' %}
  </div>
</div>
{% endblock %}
