<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <!-- [START css] -->
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <link type="text/css" rel="stylesheet" href="/css/sidebar-style.css">

    <!-- [END css] -->
    <!-- [START head js] -->

    <script src="/js/jquery-3.1.0.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>

    <!-- [Start Sliding Sidebar Menu Script] -->
    <script src="js/scripts.js"></script>
    <!-- [END head js] -->
  </head>
  <body>
  <div style="container">

    {% include 'header.html' %}
    <div class="container">

    <h1>Contribute Data</h1>
    <div class="row">
      <div class="dash-main-content col-xs-4 text-center">
        <h3>Upload an Audit</h3>
        <a data-toggle="modal" data-target="#myModal" class="option-link" href="#">
        <div class="data-option upload-option">
          <img class="img-responsive" src="/images/upload.png">
        </div>
        </a>
        <p class="option-desc">
          Have you already surveyed your environmental impacts? Looking for guidance on collecting your data? Upload them here, or complete a guided survey.
        </p>
      </div>
      <div class="dash-main-content col-xs-4 text-center">
        <h3>Connect Apps and Devices</h3>
        <a class="option-link" href="#">
        <div class="data-option iot-option">
          <img class="img-responsive" src="/images/iot.png">
        </div>
        </a>
        <p class="option-desc">
          Use data integrations to connect monitoring apps or devices. Help us grow our collection of dynamic, IoT-enabled data set.
        </p>
      </div>
      <div class="dash-main-content col-xs-4 text-center">
        <h3>Integrate Open Data Sets</h3>
        <a class="option-link" href="#">
        <div class="data-option open-option">
          <img class="img-responsive" src="/images/open.png">
        </div>
        </a>
        <p class="option-desc">
          Browse and incorporate open data sets to your analysis. View open data catalogues here.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <a href="/" class="btn btn-warning btn-block btn-lg return">Return to Dashboard</a>
      </div>
    </div>
    </div>
</div>
  </div>

  <!-- [Start Modal] -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <!--<div class="loading-status hide-oscar">Loading</div>-->
  <div id="oscar-the-loader"></div>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Upload Waste Audit Data</h4>
        </div>
        <div class="modal-body">
           <div class="data-upload">
            <form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
                Upload File:
                <input type="file" name="file" class="file-upload"> <br>
            </form>
            <div id="data-submitter" class="btn btn-primary">Submit</div>
          </div>
          <div class="data-upload-status hide-oscar">Upload Complete</div>
        </div>
        <div class="modal-footer">
          <p>Data can be uploaded in csv or json format.</p>
          <p><a href="#">Download our template</a> for reference.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- [End Modal] -->

  <!-- [START footer js] -->
  <script src="js/bootstrap.min.js" async defer></script>
  <!-- [Start Sliding Sidebar Menu Script] -->
  <script src="js/scripts.js"></script>
  <!-- [END footer js] -->
  </body>
</html>
