
{% block header %}

{% if user %}
<!-- Start Sliding Menu -->
<div id="wrapper" class="toggled">
  <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            {% if user.team_img %}
                            <img src="{{ user.team_img }}" class="team-img img-responsive">
                            {% else %}
                            <img src="/images/blank_user.gif" class="img-responsive">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </li>
            <li class="sidebar-brand">
                <h3>{{ user.team }}</h3>
                <h4>{{ user.name }}</h4>
            </li>
            <li>
                <a href="/">Dashboard</a>
            </li>
            <li>
                <a href="/challenges">Challenges</a>
            </li>
            <li>
                <a href="#">Certifications</a>
            </li>
            <li><!-- Upload New Data -->
                <a href="/data">
                    Contribute Data
                </a>
            </li>
            <li>
                <a href="/logout"><h3>Logout</h3></a>
            </li>
        </ul>
    </div>
</div>
{% endif %}

<!-- End Sliding Menu -->


<div class="navbar navbar-inverse navbar-fixed-top">
    <header>
        <div class="navbar-inner">

            <div class="container">
                <div class="row">

                    <div class="header-zwcc col-xs-9 text-left">
                        <div class="col-xs-3">
                          <a class="navbar-brand" href="#"></a>
                        </div>
                        <div class="col-xs-9 text-left">
                          
                        </div>
                    </div>

                    <div class="header-tools col-xs-3 text-right">
                        {% if user %}

                        <div class="main-menu-button col-xs-12">
                          <a href="#menu-toggle" id="menu-toggle">
                            <span class="glyphicon glyphicon-menu-hamburger">
                            </span>
                          </a>
                        </div>
                        {% else %}
                        <div class="col-xs-12">
                          <a href="/login" class="btn">Login</a>
                          <a class="btn">or</a>
                          <a href="/signup" class="btn">Signup</a>
                        </div>
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>
    </header>
</div>

{% endblock %}
