<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <!-- [START css] -->
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <link type="text/css" rel="stylesheet" href="/css/map.css">
    <link type="text/css" rel="stylesheet" href="/css/sidebar-style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@0.7.7/dist/leaflet.css" />
    <!-- [END css] -->
    <!-- [START head js] -->
    <script src="js/jquery-3.1.0.js"></script>
    <script src="https://unpkg.com/leaflet@0.7.7/dist/leaflet.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- [END head js] -->
    <!-- [Start Sliding Sidebar Menu Script] -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    <!-- [End Sliding Sidebar Menu Script] -->
  </head>
  <body>

    {% include 'header.html' %}
    {% include 'content.html' %}

    <!-- [START footer js] -->
    <script src="js/bootstrap.min.js" async defer></script>
    <!-- [END footer js] -->

  </body>
</html>
