<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <!-- [START css] -->
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <link type="text/css" rel="stylesheet" href="/css/viz.css">
    <link rel="stylesheet" type="text/css" href="/css/sunburst_sequences.css"/>
    <link type="text/css" rel="stylesheet" href="/css/map.css">
    <link type="text/css" rel="stylesheet" href="/css/sidebar-style.css">

    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.24.0/mapbox-gl.css" />
    <!-- [END css] -->
    <!-- [START head js] -->

    <script src="/js/jquery-3.1.0.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.24.0/mapbox-gl.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>

    <!-- [Start Sliding Sidebar Menu Script] -->
    <script src="js/scripts.js"></script>

    <!--<script src="/js/leaflet.ajax.min.js"></script>-->
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.24.0/mapbox-gl.js"></script>
    <!-- [END head js] -->
  </head>
  <body>
  <div style="container">

    {% include 'header.html' %}
    {% include 'content.html' %}

  </div>
  <!-- [Start Modal] -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Upload Waste Audit Data</h4>
        </div>
        <div class="modal-body">
           <div class="data-upload">
            <form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
                Upload File:
                <input type="file" name="file" class="btn btn-primary"> <br>
                <input type="submit" name="submit" value="Submit" class="btn btn-primary">
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <p>Data can be uploaded in csv or json format.</p>
          <p><a href="#">Download our template</a> for reference.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- [End Modal] -->

  <!-- [START footer js] -->
  <script src="js/bootstrap.min.js" async defer></script>
  <!-- [Start Sliding Sidebar Menu Script] -->
  <script src="js/scripts.js"></script>
  <script type="text/javascript" src="/js/map.js"></script>
  <script type="text/javascript" src="/js/sunburst_sequences.js"></script>
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57e81e2cdc71e7db"></script>
  <!-- [END footer js] -->

  </body>
</html>
