<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <!-- [START css] -->
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <link type="text/css" rel="stylesheet" href="/css/viz.css">
    <link rel="stylesheet" type="text/css" href="/css/sunburst_sequences.css"/>
    <link type="text/css" rel="stylesheet" href="/css/map.css">
    <link type="text/css" rel="stylesheet" href="/css/sidebar-style.css">
    
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.24.0/mapbox-gl.css" />
    <!-- [END css] -->
    <!-- [START head js] -->

    <script src="/js/jquery-3.1.0.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.24.0/mapbox-gl.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>
    
    <!-- [Start Sliding Sidebar Menu Script] -->
    <script src="js/scripts.js"></script>

    <!--<script src="/js/leaflet.ajax.min.js"></script>-->
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.24.0/mapbox-gl.js"></script>
    <!-- [END head js] -->
  </head>
  <body>
  <div style="container">

    {% include 'header.html' %}
    {% include 'content.html' %}

  </div>
    <!-- [START footer js] -->
    <script src="js/bootstrap.min.js" async defer></script>
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
    <!-- [END footer js] -->

  </body>
</html>
