<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <!-- [START css] -->
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/map.css">
    <link type="text/css" rel="stylesheet" href="css/sidebar-style.css">
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.24.0/mapbox-gl.css" />
    <!-- [END css] -->
    <!-- [START head js] -->
    <script src="js/jquery-3.1.0.js"></script>
    <!--<script src="/js/leaflet.ajax.min.js"></script>-->
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.24.0/mapbox-gl.js"></script>
    <!-- [END head js] -->
  </head>
  <body>
    {% include "header.html" %}
    <form method="post" style="text-align:center; font: 13px sans-serif">
      <div class='row login-form'>
        <div class="col-xs-4">
            <!--<img src="http://placekitten.com/g/400/150"
            class="img-rounded img-responsive" style="margin: 0 auto 0 auto">-->
            <img src="images/grouch.png"
            class="img-rounded img-responsive" style="margin: 0 auto 0 auto">
            <h3>Let's. Get. <strong><span class="text-green">Green.</span></strong></h1>
                     
        </div>
        <div class="col-xs-8">
          <div class="col-xs-12">
          <h3>Please log in</h3>
          </div>
          <div class="col-xs-3 text-left">
          <label for="email">Email:</label>
          </div>
          <div class="col-xs-9 text-left">
          <input name="email" type="email" value="{{ email }}" id="email">
          <p class="error-msg">{{ email_error }}</p>
          </div>
          <div class="col-xs-3 text-left">
          <label for="password">Password:</label>
          </div>
          <div class="col-xs-9 text-left">
          <input name="password" type="password">
          <p class="error-msg">{{ pwd_error1 }}</p>
          <p class="error-msg">{{ pwd_error2 }}</p>
          </div>
          <div class="col-xs-9 col-xs-offset-3 login-button">
          <input name="admin" type="checkbox" value="True" id="admin">
            <label for="admin">Sign in as Administrator</label><br>

            <input name="action" value="Login" type="submit" class="btn"><br>
          </div>
        </div>
      </div>
    <!--<input name="continue" type="hidden" value="http://localhost:8080/">-->
    </form>

  <!-- [START footer js] -->
    <script src="js/bootstrap.min.js" async defer></script>
    <!-- [Start Sliding Sidebar Menu Script] -->
    <script src="js/scripts.js"></script>
    <!-- [END footer js] -->
  </body>
</html>

