<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <!-- [START css] -->
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <!-- [END css] -->
  </head>
  <body>
    {% include "header.html" %}
    <form method="post" style="text-align:center; font: 13px sans-serif">
      <div class='login-form'>
        <h3>Not logged in</h3>
          <label for="email">Email:</label>
          <input name="email" type="email" value="{{ email }}" id="email">
          <p class="error-msg">{{ email_error }}</p>

          <label for="password">Password:</label>
          <input name="password" type="password">
          <p class="error-msg">{{ pwd_error1 }}</p>
          <p class="error-msg">{{ pwd_error2 }}</p>

          <input name="admin" type="checkbox" value="True" id="admin">
            <label for="admin">Sign in as Administrator</label><br>

          <input name="action" value="Login" type="submit" class="btn"><br>
      </div>
    <!--<input name="continue" type="hidden" value="http://localhost:8080/">-->
    </form>
  </body>
</html>

