<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <!-- [START css] -->
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <!-- [END css] -->
  </head>
  <body>
  {% include "header.html" %}

    <form method="post">
        <div class="container">
            <div class='login-form'>

                <div class="row">
                    <div class="signup-form-header">
                        <div class="col-xs-12 text-center">
                            <img src="http://placekitten.com/g/400/150"
                            class="img-rounded img-responsive" style="margin: 0 auto 0 auto">
                            <h1><em>Join the Challenge:</em></h1>
                        </div>
                    </div>
                </div>

                <div class="row text-center" id="basic-user-info">
                    <h3>Basic User Info</h3>
                    <div class="form-group row text-right">
                        <label for="username" class="col-xs-4 col-form-label">
                        Name:</label>
                        <div class="col-xs-8">
                            <input class="form-control" type="text" name="username"
                            value="{{ username }}" id="username"
                            placeholder="Name">
                        </div>
                        <p class="error-msg">{{ uname_error }}</p>
                    </div>

                    <div class="form-group row text-right">
                        <label for="password" class="col-xs-4 col-form-label">
                        Password:</label>
                        <div class="col-xs-8">
                            <input class="form-control" name="password"
                            type="password" value="" id="password">
                        </div>
                        <p class="error-msg">{{ pwd_error }}</p>
                    </div>

                    <div class="form-group row text-right">
                        <label for="email" class="col-xs-4 col-form-label">
                        Email:</label>
                        <div class="col-xs-8">
                            <input class="form-control" name="email" type="email"
                            value="{{ email }}" id="email"
                            placeholder="example@example.com">
                        </div>
                        <p class="error-msg">{{ email_error }}</p>
                    </div>
                </div>

                <div class="row text-center" signin="signin-team-info">
                    <h3>Part of a Team?</h3><span></span>
                    <div class="form-group row text-right">
                        <label for="team" class="col-xs-4 col-form-label">
                        Organization Name:</label>
                        <div class="col-xs-8">
                            <input class="form-control" name="team" type="text"
                            value="{{ team }}" id="team">
                        </div>
                        <p class="error-msg">{{ team_error }}</p>
                    </div>

                    <div class="form-group row text-right">
                        <label for="password" class="col-xs-4 col-form-label">
                        Password:</label>
                        <div class="col-xs-8">
                            <input class="form-control" name="password"
                            type="password" value="" id="password">
                        </div>
                        <p class="error-msg">{{ pwd_error }}</p>
                    </div>

                    <div class="form-group row text-right">
                        <label for="email" class="col-xs-4 col-form-label">
                        Email:</label>
                        <div class="col-xs-8">
                            <input class="form-control" name="email" type="email"
                            value="{{ email }}" id="email"
                            placeholder="example@example.com">
                        </div>
                        <p class="error-msg">{{ email_error }}</p>
                    </div>
                </div>

                <input name="action" value="Register" type="submit">
            </div>
        </div>


    </form>
  </body>
</html>
