
  {% include "header.html" %}
    <form method="post">
      <div class='login-form'>
        <h3>Join the Challenge:</h3>
          <label for="username">Name:</label>
          <input name="username" type="text" value="{{ username }}" id="email">
          <p class="error-msg">{{ uname_error }}</p>

          <label for="username">Password:</label>
          <input name="password" type="password" value="" id="password">
          <p class="error-msg">{{ pwd_error }}</p>

          <label for="email">Email:</label>
          <input name="email" type="email" value="{{ email }}" id="email">
          <p class="error-msg">{{ email_error }}</p>

          <label for="team">Organization Name:</label>
          <input name="team" type="text" value="{{ team }}" id="team">
          <p class="error-msg">{{ team_error }}</p>

          <input name="admin" type="checkbox" value="True" id="admin">
            <label for="admin">Register as Administrator</label><br>

          <h4>or</h4>

          <label for="teams">Register under Existing Team</label><br>
            <select name="teams" id="teams">
              <option value="Team 1"> Team 1</option>
              <option value="Team 2"> Team 2</option>
              <option value="Team 3"> Team 3</option>

          <input name="action" value="Register" type="submit" class="btn">
      </div>
    <!--<input name="continue" type="hidden" value="http://localhost:8080/">-->
    </form>

