<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <!-- [START css] -->
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <!-- [END css] -->
  </head>
  <body>
  {% block header %}
  {% endblock %}
    <form method="post" action="/signup">
      <div class='login-form'>
        <h3>New Account Signup</h3>
          <label for="username">Name:</label>
          <input name="username" type="text" value="{{ email }}" id="email">
          <br>{{ uname_error }}

          <label for="email">Email:</label>
          <input name="email" type="email" value="{{ email }}" id="email">
          <br>{{ email_error }}

          <label for="team">Organization Name:</label>
          <input name="team" type="text" value="{{ team }}" id="team">
          <br>{{ team_error }}

          <input name="admin" type="checkbox" value="True" id="admin">
            <label for="admin">Register as Administrator</label><br>

          <h4>or</h4>

          <label for="teams">Register under Existing Team</label><br>
            <select name="teams" id="teams">
              <option value="Team 1"> Team 1</option>
              <option value="Team 2"> Team 2</option>
              <option value="Team 3"> Team 3</option>

          <input name="action" value="Register" type="submit" class="btn">
      </div>
    <!--<input name="continue" type="hidden" value="http://localhost:8080/">-->
    </form>
  </body>
</html>

